
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


.map-container{
    height: 100%;
    padding-bottom: 60px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;

}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#search_input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 60%;
    display: inline-block;
    height:38px;
}
#search_input:focus {
    border-color: #4d90fe;
}
.search {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 0;
    background-color: #ffffff;
}

.button {
    font-family: Roboto;
    color: #ffffff;
    font-size: 14px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-radius: 0px;
    border:none;
    width:19%;
    display: inline-block;
}

.button:hover {
    background: #3cb0fd;
    text-decoration: none;
}

@media(max-width:767px){
    .button {
        
        width:49%;
        
    }
    
    #search_input {
        width: 100%;
        display: inline-block;
    }
    
    .map-container{
    padding-bottom: 90px;
        }
        
        .search {
            height: 90px;
        }
}
